.x-scroll {
  position: relative;
}

/* 不显示默认滚动条 */
.x-scroll::-webkit-scrollbar {
  width: 0;
}

.x-scroll .x-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100px;
  background-color: rgb(106 154 241);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
}
