* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color-0: #f7f8fa;
    --border-color-1: #f5f6fa;
    --border-color-2: #dcdfe6;
    --primary-font-color: #303133;
    --regular-font-color: #606266;
    --primary-bg-color: #5a9cf8;
    --shadow-color: rgb(0 0 0 / 12%);
}
