@media screen and (max-width: 600px) {
  :root {
    font-size: 100px;
  }

  aside {
    width: 50vw;
    max-width: 2rem;
  }

  aside:active {
    left: 0;
  }

  aside .content {
    padding: 1px 0;
  }

  /* 适配 safari */
  aside .content .demo-item {
    box-shadow: 0 0 5px rgba(200, 200, 200, .12);
  }

  aside .right-button {
    /* 适配 safari */
    left: 99.9%;
    width: .3rem;
    height: .6rem;
  }
}
