/* 默认主题 */
:root {
    --common-bg-color-1: #c7ffdd;
    --common-bg-color-2: #fbd988;
    --common-text-color: #333;
}

/* 暗色主题 */
html[data-theme='dark'] {
    --common-bg-color-1: #102128;
    --common-bg-color-2: #2d5567;
    --common-text-color: #fff;
}
