main {
  --light-color: #f4c042;
  --dark-color: #7a5600;
  --animation-style: 2.7s linear infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-color);
}

.loading {
  position: relative;
  width: 300px;
  height: 300px;
}

.loading .sun {
  position: absolute;
  top: 135px;
  left: 82px;
  width: 136px;
  height: 136px;
  animation: sun var(--animation-style);
}

.loading .sun .sun-body {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid var(--dark-color);
  animation: sun-body var(--animation-style);
}

.sun .sun-body .line {
  position: absolute;
  top: -24px;
  left: calc(50% - 3px);
  width: 6px;
  height: 12px;
  border-radius: 3px;
  background-color: var(--dark-color);
  transform: rotate(calc(var(--i) * 45deg));
  transform-origin: center 68px;
}

.loading .sun .eye {
  position: absolute;
  top: 60px;
  left: 40px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--dark-color);
  box-shadow: 16px 0 var(--dark-color);
  animation: eye var(--animation-style);
}

.loading .horizon {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 115px;
  background-color: var(--light-color);
}

/* 水平线 */
.loading .horizon::before {
  content: '';
  position: absolute;
  left: 5%;
  width: 90%;
  height: 6px;
  border-radius: 3px;
  background-color: var(--dark-color);
}

/* loading 文案 */
.loading .horizon::after {
  content: 'Loading...';
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--dark-color);
  animation: text var(--animation-style);
}

@keyframes sun {
  0% {
    transform: translateY(0);
  }

  40%,
  70% {
    transform: translateY(-40px);
  }
}

@keyframes sun-body {
  40% {
    transform: rotate(0);
  }

  50%,
  100% {
    transform: rotate(45deg);
  }
}

@keyframes eye {
  50%,
  60% {
    transform: scaleY(1);
  }

  55% {
    transform: scaleY(0.1);
  }

  70%,
  100% {
    transform: translateX(34px);
  }
}

@keyframes text {
  40% {
    opacity: 1;
  }
  
  60% {
    opacity: 0;
  }
}
