/**
 * author: lvdengming@foxmail.com
 * date: 2025-02-17
 */

.img-wrapper {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: var(--gap-size);
    padding: var(--gap-size);
    margin-top: var(--header-height);
}

.img-item {
    position: relative;
    width: calc(var(--item-img-size) + 2 * var(--padding-size));
    height: calc(
        var(--item-size) + 2 * var(--padding-size) + var(--font-size) *
            var(--line-height) + 8px
    );
    padding: var(--padding-size);
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s;
}

.img-item:hover {
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}

.img-item img {
    width: var(--item-img-size);
    height: var(--item-img-size);
    object-fit: contain;
}

.img-item p {
    margin-top: 8px;
    font-size: var(--font-size);
    color: var(--primary-color);
    text-align: center;
    line-height: var(--line-height);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.img-item .copy-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: var(--item-copy-size);
    height: var(--item-copy-size);
    background-image: url('../imgs/copy.svg');
    background-size: var(--item-copy-icon-size);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
    z-index: 1;
}

.img-item:hover .copy-icon {
    opacity: 1;
}

.img-item .copy-icon.copied {
    background-image: url('../imgs/copied.svg');
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    opacity: 1;
}

.img-item .copy-icon.copied::before {
    content: 'Copied';
    position: absolute;

    /* 1px 是边框的宽度 */
    top: -1px;
    right: calc(var(--item-copy-size) - 1px);
    height: var(--item-copy-size);
    background-color: #fff;
    padding: 0 calc((var(--item-copy-size) - var(--item-copy-icon-size)) / 2);
    border: 1px solid #e2e2e2;
    border-right: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 12px;
    color: #808080;
    font-style: normal;
    text-align: center;
    line-height: 32px;
    box-sizing: border-box;
}
