/**
 * author: lvdengming@foxmail.com
 * date: 2024-11-08
 */

* {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#app .price-wrapper {
    display: flex;
    align-items: flex-end;
    color: #e4393c;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'microsoft yahei';
    line-height: 1;
    user-select: none;
}

#app .price-wrapper .label {
    font-size: 24px;
    transform: translateY(-2px);
}

#app .price-wrapper .price {
    width: 125px;
    font-size: 32px;
}

#app .action-wrapper {
    display: flex;
    column-gap: 24px;
    margin-top: 20px;
    color: #fff;
}

#app .action-wrapper .action-item {
    padding: 8px 16px;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
    transition: all 0.25s;
}

#app .action-wrapper .action-item:hover {
    opacity: 0.8;
}

#app .action-wrapper .action-item:active {
    opacity: 0.9;
}

#app .action-wrapper .reset {
    background-color: #f1bf47;
}

#app .action-wrapper .discount {
    background-color: #5f8af7;
}
