* {
    padding: 0;
    margin: 0;
}

:root {
    --slide-width: 800px;
    --slide-height: 600px;
    --slide-transition-time: 0.5s;
    --slide-items: 3;
    --slide-item-color-1: #e8655a;
    --slide-item-color-2: #efb858;
    --slide-item-color-3: #6fbf57;
    --slide-font-color: #343434;
    --slide-font-size: 36px;
    --slide-font-family: sf pro display, sf pro icons, helvetica neue, helvetica,
        arial, sans-serif;
    --arrow-wrapper-size: 36px;
    --arrow-wrapper-bg-color: rgb(255 255 255 / 25%);
    --arrow-wrapper-bg-color-active: rgb(255 255 255 / 50%);
    --arrow-size: 20px;
    --arrow-gap: 24px;
    --indicator-wrapper-gap: 20px;
    --indicator-size: 12px;
    --indicator-gap: 16px;
    --indicator-color: rgb(255 255 255 / 25%);
    --indicator-color-active: rgb(255 255 255 / 75%);
    --transition-time: 0.25s;
}

.carousel {
    position: relative;
    width: var(--slide-width);
    height: var(--slide-height);
    border-radius: 5px;
    margin: 50px auto;
    overflow: hidden;
}

.slide-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    width: calc(var(--slide-width) * var(--slide-items));
    height: var(--slide-height);
    transition: left var(--slide-transition-time);
}

.slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--slide-width);
    height: var(--slide-height);
    font-size: var(--slide-font-size);
    color: var(--slide-font-color);
}

.slide-item:nth-child(1) {
    background-color: var(--slide-item-color-1);
}

.slide-item:nth-child(2) {
    background-color: var(--slide-item-color-2);
}

.slide-item:nth-child(3) {
    background-color: var(--slide-item-color-3);
}

.arrow-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: var(--arrow-wrapper-size);
    height: var(--arrow-wrapper-size);
    background-color: var(--arrow-wrapper-bg-color);
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all var(--transition-time);
}

.arrow-wrapper > div:hover {
    background-color: var(--arrow-wrapper-bg-color-active);
}

.arrow-wrapper > div svg {
    width: var(--arrow-size);
    height: var(--arrow-size);
}

.arrow-left {
    left: var(--arrow-gap);
}

.arrow-right {
    right: var(--arrow-gap);
}

.indicator-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: var(--indicator-wrapper-gap);
    width: calc(
        var(--indicator-size) * var(--slide-items) + (var(--slide-items) - 1) *
            var(--indicator-gap)
    );
    height: var(--indicator-size);
    transform: translateX(-50%);
}

.indicator-item {
    width: var(--indicator-size);
    height: var(--indicator-size);
    border-radius: 50%;
    background-color: var(--indicator-color);
    cursor: pointer;
    transition: all var(--transition-time);
}

.indicator-item:hover {
    background-color: var(--indicator-color-active);
}

.indicator-item.active {
    background-color: var(--indicator-color-active);
}
